* {
  margin: 0;
  padding:0;
}
html{
  height: 100%;
  background-color: #1e1e79
}


header {
  background-color: #181c1f;;
  height: 150px;


}
a:link{
  text-decoration: none;
  color: #ded4d4;
}
a:visited {
  text-decoration: none;
  color: #ded4d4;
}



header p {
  color: #ded4d4;
  vertical-align: middle;
  text-align: center;
  display: inline;
}
header #headerLogo  {
  margin-left: 20px;
  margin-top: 10px;
  display: inline;



}
header #navbar{
  display: inline;
  float: right;

}

header ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
  color: white;
}

div#CenterText{
  text-align: center;
  height: 100%;

  margin-top: 300px;
  width: 100%;
}

div#CenterText ul {
  padding-top: 40px;
}

div#CenterText ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;



}
