* {
  margin: 0;
  padding:0;
}
html{
  height: 100%;

}


div.topNav {
  background-color: #52bb71;
  height: 380px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;


}
a:link{
  text-decoration: none;
  color: white;
  margin : 10px 10px 10px 10px;
}
a:visited {
  text-decoration: none;
  color: white;
  margin: 10px 10px 10px 10px;
}



div.topNav h1    {
  text-align: center;
  color: white;
  display: block;
  padding-top: 100px;
  font-family: Comic sans ; , sans-serif;
  font-size: 35px;
  font-weight: 100;
  margin-right: 100px;
  margin-left: 100px;
}

 #belowBlurb{
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  text-align: center;
}
 #headerLogo  {
  margin-left: 100px;
  margin-top: 10px;
  display: inline;



}
 #navbar{
  display: inline;
  float: right;
  padding-top: 50px;
  font-weight: bolder;
  padding-right: 75px


}

 ul li{
  display: inline;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 20px;
}


div#profileText h2{
  text-align: center;
  height: 100%;

  width: 100%;

}
div#profileText h1{
  text-align: center;
  height: 100%;
  margin: 0
  width: 100%;
  color: black;


}
div#profileText {
  text-align: center;
  color: black:
}

div#profileText ul {
  padding-top: 40px;
  text-align: center;
}

div#profileText ul li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: black;



}
footer {
  font-size: 10px;
  text-align: center;
  margin: auto;
  background-color: #52bb71;
  padding: 15px;
}
