* {
  margin: 0;
  padding:0;
}


html, body{
  height: 100%;
  margin: 0;
  width: 100%;
}

#wrapper{
height: 100%;
width: 100%;
background-color: #336699 ;
position: relative;

}
#mapApp {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

}
#map {
  height: 300px;
  width: 700px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;


}

#dialogBox{
  background-color: #999999;
  min-height: 200px;
  width: 1000px;
  margin-top: 50px;
  position: relative;
  border-radius: 25px;


}
#dialogBox-content {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

}
#leftArrow{
display: inline-block;
padding-left:  20px;
}


#rightArrow {

  display: inline-block;
  padding-right: 20px;
  float: right;

}
#text {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}
p{
  color: black;
}
